RewriteEngine on
#RewriteRule ^home/(.*)$ public/home/$1 [L]
#RewriteRule ^products/[^/]+-(\d+).html$ /index.php?_url=home/product/detail&id=$1 [L,QSA]
#RewriteRule ^([^/]+/[^/]+).html$ /index.php?_url=$1 [L,QSA]
RewriteRule ^[^/]+/[^/]+-(\d+).html$ /index.php?_url=home/product/detail&id=$1 [L,QSA]
RewriteRule ^([^-]+)-([^-]+).html$ /index.php?_url=$1/$2 [L,QSA]
RewriteRule ^([^-]+)-([^-]+)-([^-]+).html$ /index.php?_url=$1/$2/$3 [L,QSA]