{% block content %}
<style>
    .text-blue {
        color: #003383;
    }

    .text-red {
        color: #D31378;
    }

    span {
        font-size: 12px;
    }

    .padding {
        padding: 20px;
    }

    a {
        list-style: none;
        text-decoration: none !important;

    }
</style>
<body>
<div class="padding">
    <br>
    <div>
        Dear Sirs,<br>
        Thanks for your in-time artwork approval! And your order is now under production.<br>
        <span class="text-blue ">
				<b>For detailed order status, please login your account and check "My Orders" on www.china-flag-makers.</b>
		</span>
    </div>
    <br>
    <div class="text-blue">Best Regards</div>
    <div style="padding: 35px 0 0 0">
        <img src="https://www.china-flag-makers.com/home/images/logo.png" alt="">
    </div>
    <div>-----------------</div>
    <div>
        CFM--SAME DAY SHIPPING
    </div>
</div>
{% endblock %}